@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<div class="card">
    <div class="card-body">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" autocomplete="off" type="email" class="from-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" autocomplete="off" class="from-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-check mb-3">
                <input asp-for="Recuerdame" type="checkbox" class="from-check-input">
                <label asp-for="Recuerdame" class="form-check-label"></label>
            </div>

            <button class="btn btn-primary">Entrar</button>
            <a asp-action="Registro" class="btn btn-succes">Deseo registrarme</a>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}